
/*? about section design start  */
.about{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about p{
    color: white;
    font-size: 20px;
    line-height: 30px;

}
.about-img{
    /* background: #000; */
    width: 40%;
    height: auto;
 
}
.about-img img{
    margin-top: 70px;
    width: 450px;
    border-top: 4px solid #FF6B01;
    border-bottom: 4px solid #FF6B01;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 10px rgb(27, 26, 26);
}
.about-content{
   /* background: #000; */
    width: 40%;
    height: 500px;
}
.about-content h2{
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #FF6B01;
}
/*? about section design end  */
/*? commint  ---------------------*/

@media (max-width: 1200px) {
    /* Styles for extra large devices */
    /*? about section design start  */
.about{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about p{
    color: white;
    font-size: 20px;
    line-height: 30px;

}
.about-img{
    /* background: #000; */
    width: 40%;
    height: auto;
 
}
.about-img img{
    margin-top: 70px;
    width: 450px;
    border-top: 4px solid #FF6B01;
    border-bottom: 4px solid #FF6B01;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 10px rgb(27, 26, 26);
}
.about-content{
   /* background: #000; */
    width: 40%;
    height: 500px;
}
.about-content h2{
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #FF6B01;
}

}
/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {

    
/*? about section design start  */
.about{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about h1{
    font-size: 30px;
}
.about p{
    color: white;
    font-size: 15px;
    line-height: 30px;

}
.about-img{
    /* background: #686767; */
    width: 40%;
    height: auto;
 
}
.about-img img{
    margin-bottom: 50px;
    width: 400px;
    border-top: 4px solid #FF6B01;
    border-bottom: 4px solid #FF6B01;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 10px rgb(27, 26, 26);
}
.about-content{
   /* background: #000; */
    width: 50%;
    padding-left: 20px;
    padding-top: 100px;
    height: 500px;
}
.about-content h2{
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 15px;
    text-transform: uppercase;
    color: #FF6B01;
}
.about-btn{
    width: 300px;
}
.about-btn a{
    
    font-size: 20px;
}
/*? about section design end  */
/*? commint  ---------------------*/

}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
    
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 400px) {
    
}
