
/*? General design start  */
@font-face {
    font-family: 'font1';
    src: url(./Assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
html{
    
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font1';
    font-size: 10px;
}
a{
    text-decoration: none;
    
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #000; */
}
p{
    /* color: white; */
    font-size: 1.4rem;
    color: black;
    margin-top: 5px;
    line-height: 40px;
}
.section-tittle{
    font-size: 30px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.section-tittle span{
    color: #FF6B01;
    
}
button{
    display: inline-block;
    padding: 10px 30px;
    background: transparent;
    border: 2px solid #FF6B01;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease background-color,color;
}
button:hover{
    color: white;
    background: #FF6B01;
}
button a{
    color: black;
    
}
/*? General design end  */
/*? commint  */



/*? navbar design start  */
.nav-logo{
    width: 50%;
}
.nav-logo h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
}
.nav-logo span{
    
    color: #FF6B01;
}
.nav-list{
    width: 50%;
    color: white;
    display: flex;

}
.nav-list ul{
    width: 500px;
    /* background: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}
.nav-list ul li{
    color: rgb(255, 255, 255);

}
#navbar{
    position: fixed;
    z-index: 5;
    left: 0;
    
    /* width: 100%; */
    height: auto;
}
.navbar{
    background: white;
    color: white;
    min-height: 8vh;
    /* background: rgba(30,30,0,0.64); */
    transition: 03s ease background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 1300px; */
    padding: 0 10px;
}
#navbar .list-small-screen{
    border: 3px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    cursor: pointer;
    transform: scale(0.8);
}
#navbar .list-small-screen::after{
    content: "";
    border: 3px solid white;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: list-small-screen 1s ease infinite;
}

/*? navbar design end  */
/*? commint  */

/*? hero section design start  */
.hero-section{
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(./Assets/images/man\ with\ coding\ .jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#huzaifa-pic{
    width: 400px;

}

/*? hero section design end  */
/*? commint  ---------------------*/
