/* #FF6B01;
#1F2833; */
@font-face {
    font-family: 'font1';
    src: url(./Assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'font1';
    scroll-behavior: smooth;
}
body{

}
.container{
    width: 100%;
    height: 100vh;
    background: #1F2833;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;    
}
.container-y{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.container-x{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.container-wrap{
    display: flex;
    flex-wrap: wrap;
}
.container-wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}
.huzaifa-pic{
    margin-top: 60px;
    width: 400px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    background: transparent;
    border: 4px outset #FF6B01;
    animation: borderColorChange 3s infinite linear;
}
@keyframes borderColorChange {
    0% {
        box-shadow: 1px 1px 20px 15px #FF6B01;
    }
    33% {
        box-shadow: 1px 1px 20px 15px white;
    }
    66% {
        box-shadow: 1px 1px 20px 15px #1F2833;
    }
    100% {
        box-shadow: 1px 1px 20px 15px #FF6B01;
    }
  }
.icons-img{
    width: 100px;
}
span{
    color: #FF6B01;
}
.section-tittle{
    font-size: 40px;
}
.navbar{
    height: 15vh;
    position: fixed;
    z-index: 3;
}
h1{
    font-size: 35px;
    color:  white;
    font-weight: 500;
}
h2{
    font-size: 25px;
    color:  white;
    font-weight: 500;
}
.services-content{
    position: relative;
    top: 40px;
}
.services-cards{

}
.card{
    /* background: #000; */
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top: 4px solid #FF6B01;
    border-bottom: 4px solid #FF6B01;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(./Assets/images/services\ money.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px 6px #0e0e0e;
}
ul{
    width: 600px;
}
li{
    list-style-type: none;
}
a{
    color: white;
    font-size: 25px;
    text-decoration: none;    
}
a:hover{
    color: #FF6B01;
}
button{
    width: 250px;
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #1F2833;
    color:  #FF6B01;
    border: 4px outset #FF6B01;
}
button a{
    color: #FF6B01;
}
button:hover{
    background: #000;
}
footer{
    /* align-items: center; */
}
.hero-content{
    /* font-size: 40px; */
    align-items: flex-start;
    line-height: 80px;
}
.hero-content h1{
    font-size: 50px;
}
/**--- projects---- */
.projects-section .section-tittle{
    color: white;
    font-weight: 500;
}
.projects-section .section-tittle{
    position: relative;
    top: 75px;
}
.projects-card{
    width: 90%;
    height: 450px;
    background: #8d8b8b;
    overflow: scroll;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background: white;
    border-top: 6px outset #FF6B01;
    border-bottom: 6px outset #FF6B01;
}
.projects-section p{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    
}
.projects-section img{
    width: 700px;
}
.projects-section h1{
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.content{
    width: 600px;
    height: 400px;
    color: #FF6B01;
}
/**--- about---- */
.about-data{
    width: 80%;
    height: 450px;
    justify-content: space-evenly;
}
.about-content{
    width: 500px;
    height: 400px;
    align-items: flex-start;
    line-height: 35px;
}
.about-content p{
    font-size: 18px;
    color:  white;
    /* line-height: 35px; */
}
.about-content span{
    letter-spacing: 10px;
}
.row1-contact{
    width: 80%;
}
/**--- contact---- */
.cardc{
    color: white;
    /* background: #484747; */
    font-size: 20px;
    width: 400px;
    height: 300px;
    line-height: 40px;
}
/**---footer---- */
footer{
    background: #0e0e0e;
    border-top: 5px solid #FF6B01;
    color:  white;
}
footer .icons-img{
    width: 60px;
}