
/*? services section design start  */
.services-section{

}
.services-content{
    
}
.services-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(./Assets/images/services\ money.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid #FF6B01;
    border-bottom: 4px solid #FF6B01;
    box-shadow: 1px 1px 10px 6px #0e0e0e;
    /* background: #000; */
    color: white;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    display: flex;
     flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    
}
#card{
 color: white;
}
.card-content{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 15px; */
    /* line-height: 20px; */
}
.card-content img{
width: 95px;

}
.card-logo{
    
       flex-direction: column;
       display: flex;
       justify-items: center;
       align-items: center;
 }
 .card-content h2{
    text-align: center;
    font-size: 23px;
    font-weight: 500;
 }
 .card-content span{
    text-align: center;
    color: #FF6B01;
    font-size: 20px;

 }
 

/*? sevices section design end  */
/*? commint  ---------------------*/

@media (min-width: 1541px) {
    /* Styles for extra large devices */
    
    .services-cards{
        /* background: #000; */
        width: 99%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(./Assets/images/services\ money.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 4px solid #FF6B01;
        border-bottom: 4px solid #FF6B01;
        box-shadow: 1px 1px 10px 6px #0e0e0e;
        /* background: #000; */
        color: white;
        width: 320px;
        height: 400px;
        border-radius: 20px;
        display: flex;
         flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        
    }
    #card{
     color: white;
    }
    .card-content{
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* padding: 15px; */
        /* line-height: 20px; */
    }
    .card-content img{
        width: 120px;
    }
    .card-logo{
        flex-direction: column;
        display: flex;
        justify-items: center;
        align-items: center;
     }
     .card-content h2{
        text-align: center;
        font-size: 30px;
        font-weight: 500;
     }
     .card-content span{
        text-align: center;
        color: #FF6B01;
        font-size: 25px;
    
     }

}
@media (max-width: 1540px) {
    /* Styles for extra large devices */
    .services-section{

    }
    .services-content{
        
    }
    .services-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(./Assets/images/services\ money.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 4px solid #FF6B01;
        border-bottom: 4px solid #FF6B01;
        box-shadow: 1px 1px 10px 6px #0e0e0e;
        /* background: #000; */
        color: white;
        width: 250px;
        height: 350px;
        border-radius: 20px;
        display: flex;
         flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        
    }
    #card{
     color: white;
    }
    .card-content{
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* padding: 15px; */
        /* line-height: 20px; */
    }
    .card-content img{
    width: 95px;
    
    }
    .card-logo{
        
           flex-direction: column;
           display: flex;
           justify-items: center;
           align-items: center;
     }
     .card-content h2{
        text-align: center;
        font-size: 23px;
        font-weight: 500;
     }
     .card-content span{
        text-align: center;
        color: #FF6B01;
        font-size: 20px;
    
     }

}
/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {

    .services-section{

    }
    .services-content{
        
    }
    .services-cards{
        /* background: #000; */
        /* min-height: 900px; */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        margin: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(./Assets/images/services\ money.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 4px solid #FF6B01;
        border-bottom: 4px solid #FF6B01;
        box-shadow: 1px 1px 10px 6px #0e0e0e;
        /* background: #000; */
        color: white;
        width: 250px;
        height: 350px;
        border-radius: 20px;
        display: flex;
         flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        
    }
    #card{
     color: white;
    }
    .card-content{
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* padding: 15px; */
        /* line-height: 20px; */
    }
    .card-content img{
    width: 95px;
    
    }
    .card-logo{
        
           flex-direction: column;
           display: flex;
           justify-items: center;
           align-items: center;
     }
     .card-content h2{
        text-align: center;
        font-size: 23px;
        font-weight: 500;
     }
     .card-content span{
        text-align: center;
        color: #FF6B01;
        font-size: 20px;
    
     }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
    
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 400px) {
    
}

